@font-face {
  font-family: Code;
  src: url('./fonts/Lo-Res 9 Wide.ttf');
  font-weight: 100;
  font-style: normal;
}

* { box-sizing: border-box; }

html, body {
  font-family: Code;
  margin: unset;
  background: black;
  cursor: url('cursor/Synthwave Normal Select.cur'), auto;
}

.button:hover { color: grey; }

.button {
  cursor: url('cursor/Synthwave Link Select.cur'), pointer;
  user-select: none;
}

.main { display: flex; }

.menu {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  width: 250px;
  height: 100vh;
  border: 1px solid;
}

.system { border: 1px dashed white; }
.system-info {}
.youtube { width: 182px; height: 120px; }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

#blocker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: fixed;
  width: calc(100% - 250px);
  height: 100%;
  cursor: url('cursor/Synthwave Link Select.cur'), pointer;
  background: #102c;
}

#blocker span {
  position: absolute;
  right: 0;
  bottom: 25px;
  width: 100%;
  color: #444;
  font-size: 50px;
  text-align: center;
  user-select: none;
  transition: .3s;
}

#blocker span:hover {
  color: #222;
  background: #555;
  transition: .3s;
}

#console {
  position: absolute;
  height: 40vh;
  width: calc(100% - 250px);
  top: -40vh;
  background: rgba(50, 50, 50, 0.8);
  color: white;
  display: flex;
  flex-direction: column-reverse;
  transition: 0.3s;
  z-index: 1;
}

#console input {
  width: 100%;
  height: 23px;
  padding-left: 3px;
  font-size: 15px;
  background: none;
  border: none;
  outline: none;
  color: white;
  background: rgba(100, 100, 100, 0.8);
  cursor: url('cursor/Synthwave Text Select.cur'), text;
}

.visible { top: 0vh !important; }

#chat {
  position: fixed;
  left: 260px;
  bottom: 10px;
  max-height: 300px;
  width: 25vw;
  transition: .3s;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.chat-messages-field {
  color: white;
  flex: 1;
  overflow-y: auto;
  padding: 5px;
  box-sizing: border-box;
}

.chat-messages-field::-webkit-scrollbar {
  width: 0px;
}

.chat-messages-field::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.chat-messages-field::-webkit-scrollbar-track {
  background: #000000cc;
  border-radius: 20px;
}

.chat-message {
  opacity: .1;
  font-size: .8em;
}

.chat-timestamp {
  font-size: .7em;
  color: yellow;
}

.chat-input {
  width: 100%;
  background: grey;
  outline: none;
  border: 0px solid black;
  padding: 3px;
  border-radius: 3px;
  font-family: "Courier New";
  font-weight: 600;
  background: #00000000;
  color: white;
  opacity: .1;
  box-sizing: border-box;
  cursor: url('cursor/Synthwave Text Select.cur'), text;
}

#chat:hover, #chat.active {
  background: #000000c0;
  transition: .3s;
}

#chat:hover .chat-input,
#chat.active .chat-input {
  opacity: 1;
  transition: .3s;
}

#chat:hover .chat-messages-field::-webkit-scrollbar,
#chat.active .chat-messages-field::-webkit-scrollbar {
  width: 10px;
}

#chat:hover .chat-message, #chat.active .chat-message {
  opacity: 1;
  transition: .3s;
}

#chat:hover .chat-input, #chat.active .chat-input {
  background: #ffffff30;
  border: 1px solid black;
  transition: .3s;
}
