@font-face {
  font-family: Code;
  src: url('./fonts/Lo-Res 9 Wide.ttf');
  font-weight: 100;
  font-style: normal;
}

* { box-sizing: border-box; }

body {
  font-size: 10px;
  display: flex;
  font-family: Code;
  margin: unset;
  background: black;
  cursor: url('cursor/Synthwave Normal Select.cur'), auto;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  border: none;
}

.loader {
  display: block;
  position: absolute;
  height: 200px;
  width: 200px;
  left: calc(50% - 100px);
  top: calc(50% - 50px);
  transform: translate(-50%, -50%);
}

.menu {
  color: white;
  padding: 8px;
  width: 200px;
  height: 100vh;
  border: 1px solid;
}

.menu__info { border: 1px dashed white; }
.menu__item:not(:first-child) { margin-top: 1em; }
.menu__link {
  color: white;
  display: block;
}

.menu__button:hover { color: grey; }
.menu__button {
  cursor: url('cursor/Synthwave Link Select.cur'), pointer;
  user-select: none;
}
